*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    line-height: 1.4em;
}
a {
    text-decoration: none;
    color:#000;
}
li {
    list-style: none;
}
body {
  background-color: #EDEEF0;
}
header {
    width: 100%;
    
    
    height: 45px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:3px ridge rgb(255, 0, 0);
    z-index: 10;
    top:-100%;
    left:0;
}
.header-nov {position: fixed;
    width: 965px;
    background-color: black;
    border-bottom: 5px ridge #EDEEF0;
    z-index: 10;
   
}
.header-nov ul{
    display: flex;
}
.header-text5 img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.header-ul>li{
    display: flex;
    align-items: center;
    transition: all 0.2s;
}
.header-ul li:hover {
    background-color: rgba(121, 118, 118, 0.411)
}
.header-ul a {
    color: white;
}
li .fa-vk {
    padding: 4px;
    color: black;
   background-color: #fff;
   border-radius: 5px;
   font-size: 18px;
   margin-right: 10px;
}
.header-text1>p{
    color:white;
}
.header-text1 {
    width: 170px;
    font-weight: bold;
    position: relative;
    padding-left: 10px;
}
.header-popup {
    position: absolute;
   top:-400%;
   left: 9%;
   width: 250px;
   padding: 10px 25px;
   border:2px solid rgb(255, 0, 0);
   font-size: 13px;
   background-color: rgba(0, 0, 0, 0.61);
   border-radius: 5px;
   opacity: 0;
   transition: all 0.6s;
}
.header-popup h3 {
    color:black;
    font-size: 17px;
    margin-bottom: 2px;
    font-weight: bold;
}
.header-text1:hover .header-popup {
    opacity: 1;
    top:120%;
    left: 9%;
}
.header-text2 input {
    width: 230px;
    border: 1px solid red;
    font-weight: bold;
    padding: 4px 21px;
    border-radius: 8px;
    background-color: rgba(228, 194, 194, 0.288);
    color: black;
}
.header-text2 input:hover {
    background-color: white;
}
.header-text2 {
    position: relative;
}
.fa-search {
    position: absolute;
    top:30%;
    left: 4px;
z-index: 2;
}
.head-friends-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:-910%;
    left: 3%;
    width: 245px;
    height: 250px;
    background-color: white;
    z-index: 2;
    border-radius: 3px;
    transition: all .4s;
    opacity: 0;
  
}
.header-text2:hover .head-friends-list {
    opacity: 1;
    top:110%;
    left: 3%;   
}
.head-friends-list img {
    width: 38px;
    height: 38px;
    border-radius: 50%;

}
.head-friends-list p{
    display: inline-block;
color: #43658C;
font-weight: bold;
font-size: 14px;
padding-left: 10px;
}
.head-friends-list li {
    padding: 6px;
}
.head-friends-list li a {
    display: flex;
    align-items: center;
}
.header-text3 {
    padding: 0 18px;
    margin-left:20px;
}
.header-text3:hover a{
    color:blue;
    transform: scale(1.4);
} 
.header-text4 {
padding:0 20px;
font-size:15px;
margin-right: 100px;
transition: all .3s;
}
i.fa-play  {
    padding-right: 10px;
}
.header-text4:hover i.fa-play {
    color:red;
    transform: translateX(4px);
    font-size: 16px;
}
.header-text5 a{
display: flex;
align-items: center;
height: 43px;
padding: 0 10px;
}
.header-text5 span {
    margin-right: 10px;
    font-weight: bold;
    }
.header-text5:hover img {
    border: 3px ridge rgba(0, 0, 255, 0.856);
}
.header-text5:hover span {
    
    border-bottom: 3px solid white;
}
.header-text5 {
    position: relative;
    margin-left: 50px;
}
.head-my_page {
    position: absolute;
    background-color: white;
    top: 4px;
    left: 1000%;
    height: 34px;
    opacity: 0;
    text-align: center;
    transition: all .2s;
}
.head-my_page li {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    font-size: 14px;
    color:#007ACC;
    font-weight: 600;
    
}
.header-text5:hover .head-my_page {
    opacity: 1;
    left: 100%;
    height: 34px;
}
 .head-my_page>li:hover {
    border: 2px ridge red;
}
/* основа */
.base {
    display: flex;
    margin: 0 auto;
    padding-top: 15px;
    width: 970px;
    z-index: 1;
    
    /* border: 1px solid; */
}

.main1-left {
    width: 160px;
    margin-right: 10px;
}
.m1-left_li {
    padding: 6px;
    font-size: 15px;
    transition: all .6s;
    position: relative;
    z-index: 1;
    
}
.m1-left_li i{
    margin-right: 7px;
    color: black;
    width: 17px;
    height: 17x;
    text-align: center;
} 
.m1-left_li a {
    color:rgb(167, 1, 1);
    font-weight: bold;
}
.list1-left li:hover  {
    background-color: rgba(0, 0, 0, 0.61);
    
}
.list1-left li:hover a {
    color: white;
    padding-left: 10px;
}
.m1-left_li::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    color:black;
background-color: rgba(0, 0, 0, 0.411);
position: absolute;
top: 40%;
left: -13%;
border-radius: 50%;
z-index: 2;
transition: all 4s;
opacity: 0;
}
.m1-left_li:hover:before{
    opacity: 1;
}
/* основной блок №2 */

.main2-mid {
    width: 235px;
   
}
.middle2 {
    padding: 15px;
    border: 1px ridge black;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0 0 6px 3px rgb(112, 0, 0);
}
.mid2-img1 {
 width: 205px;
 height: 258px;
 position: relative;
 overflow: hidden;
 margin-bottom: 15px;
 z-index: 3;
}
.mid2-img1 img {
    height: 258px;
    width: 205px;
    display: block;
    border-radius: 3px;
}
.overley-mid2_bot {
    width: 100%;
    position: absolute;
    bottom: 0;
    left:0;
    background-color: rgba(237, 238, 240, 0.589);
    transition: all .3s;
    opacity: 1;
    transform: translateY(100%);
    font-size: 15px;
    color: rgb(112, 0, 0);
}
.overley-mid2_bot i {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    text-align: center;
}
.overley-mid2_bot li:hover {
    color:white;
    /* background-color: rgba(112, 0, 0, 0.61); */
    background-color:rgba(0, 0, 0, 0.411)
}
.overley-mid2_bot li {
    width: 100%;padding: 2px 4px;
}
.overley-top {
    color: rgb(209, 209, 209);
    position: absolute;
    top:0;
    right: 0;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.411);
    opacity: 0;
    font-size: 14px;
}
.overley-top:hover {
    color:white;
}
.mid2-img1:hover .overley-mid2_bot  {
    opacity: 1;
    transform: translateY(0);
}
.mid2-img1:hover .overley-top{
    opacity: 1;
}
.main-mid1 p {
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(152, 194, 236, 0.432);
   text-align: center;
}
.main-mid1 p a {
    color:rgb(2, 2, 2);
}
.mid2-point1:hover, .mid2-point2:hover {
    background-color: rgba(152, 194, 236, 0.658);
}
.main-mid1 p {
    display: inline-block;
   
    border-radius: 5px;
    
}
.mid2-point2 {
    width: 40px;
    margin-left: 10px;
    padding: 5px 0;
  
}
.mid2-point1 {
padding: 5px 24px;
}
.mid-overley-point ul{
position: absolute;
top:-1000%;
left: 0;
font-size: 14px;
font-weight: bold;
border: 1px ridge rgba(126, 2, 2, 0.521);
border-radius: 5px;
background-color: white;
opacity: 0;
transition: all .3s;

}
.mid-overley-point {
    position: relative;
    
}
.mid-overley-point li {
    padding: 5px 10px;
}
.mid-overley-point li:hover {
    background-color: #DFE6ED;
}
.mid2-first_li {
    background-color: rgb(228, 124, 106);
}
.mid2-first_li span {
    margin-left: 98px;;
    text-align: right;
}
.mid-overley-point:hover .overley2-mid{
    opacity: 1;
  top:0;
  left: 0;
}
.main-mid2  {
    width: 100%;
    height: 120px;
    cursor: pointer;
}
.main-mid2 p {
font-size: 14px;
}
.main-mid2 p:after {
    content: '284';
    color:#93939A;
    font-size: 12px;
    margin-left: 10px;

}

.image-gift {
    display:flex;
    justify-content: space-between;
    margin-top: 5px;
}
.image-gift img {
    width: 32%;
    transition: all .3s;

}
.image-gift img:hover {
    transform: rotate(7deg);
}
.friends-img  {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}

.friends-img img{
    width: 50px;
    height:50px;
    border-radius: 50%; 
    transition: all .3s;
}
.friends-img img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 6px 3px rgb(112, 0, 0);
    border-radius: 1px ridge black;
}

.friends-img a {
    text-align: center;
    width:51px;
   
    
}
.friends>p {
    font-size: 15px;
    padding: 10px 0;
    font-weight: bold;
    color: rgb(167, 1, 1);
    display: inline-block;
    cursor: pointer;
}
.fr1 span {
    padding-left: 40px;
    color: grey;
    font-size: 14px;
    cursor: pointer;
}
.friends>p:after {
    content: "";
    color:#93939A;
    font-size: 13px;
    margin-left: 10px;
}
.fr1>p::after {
    content: "48";
}
.fr2>p::after {
    content: "7";
}
.friends-img p {
    color: black;

}
.friends-img p:hover {
    text-decoration: underline;
}
.fr1 {
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

/* правый блок */

.main3-right {
    width: 550px;
    margin-left: 15px;
    
}
.right3 {
    padding: 15px;
    border: 1px ridge black;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 15px;
    box-shadow: 0 0 6px 3px rgb(112, 0, 0);
}
.name-bl3-r1 {
    border-bottom: 1px solid rgb(207, 113, 113);
    padding-bottom: 15px ;
}

.online-r1 {
float: right; 
color:rgb(0, 0, 194);
font-size: 14px;
}

.block3-right1 p:hover{
background:#F0F2F5;
}
.block3-right1 p{
    padding: 4px 0;
    color:#939AAB;
    font-size: 14px;
}
.total-list-r2 {
    display:flex;
    font-size: 14px;
    margin: 20px 0;
}
.list-r2-right {
    margin-left: 70PX;
}
.list-r2-left {
    color:rgb(94, 94, 94);
}
.list-r2-right li:hover {
    text-decoration: underline;
}
.bl3-r2 p{
text-align: center;
margin-bottom: 15px;
}
.bl3-r2 {
    border-bottom: 1px ridge rgb(207, 113, 113);
}
.bl3-r3 {
    display: flex;
    justify-content: space-between;
    margin: 18px 50px 0 50px;
    text-align: center;
}
.bl3-r3 h4{
color: rgb(0, 0, 194);
font-weight: 700;
font-size: 20px;
}
.numbers-r3 {
  padding: 5px;
    border-radius: 10px;
}
.numbers-r3 p {
    color:rgb(94, 87, 87)
}
.numbers-r3:hover {
    background-color:#DFE6ED;
}
.numbers-r3:hover p {
    color:rgb(67, 0, 250);
    font-weight: 600;
}
.block3-right2 p a{
    font-size: 14px;
    color: black;
}
.block3-right2 a span {
  font-size: 13px;
  color:rgb(99, 99, 99)
}
.bl3-text-right {
    float: right;
}
.bl3-text-right:hover {
    text-decoration: underline;
    color: rgb(0, 0, 194)
}
.bl3-image {
    display: flex;
   justify-content: space-between;
   margin-top:15px;

}
.bl3-pbl2-img {
    position: relative;
    width: 125px;
    height: 125px;
}
.bl3-pbl2-img img{
    width: 125px;
    height: 125px;
}
.bl3-pbl2-img:hover .overley-top{
    opacity: 1;
}
.block3-right3 {
    height: 55px;
    position: relative;
}
.block3-right3 img {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: absolute;
    z-index: 2;
    top: 20%;
}
.block3-right3 input{
    padding-left: 40px ;
    width: 100%;
  border: none;
  outline: none;
}
.bl3-ico-input {
    position: absolute;
    top:28%;
    right: 20px;
    font-size: 20px;
    letter-spacing: 10px
}
.bl3-ico-input i:hover {
    color: rgba(0, 0, 0, 0.514);
}
/* правый блок №4 */
.r4-bl1 {
    border-bottom: 1px solid rgba(126, 2, 2, 0.521);
}
.r4-bl1 ul {
    display: flex;
}
.r4-bl1 li {
    margin-right: 13px;
    padding: 0 5px 13px;
    transition: all 0.2s;
    font-size: 14px;   
}
.r4-bl1 li:first-child {
    border-bottom: 3px ridge blue;
}
.r4-bl1 li:hover {
    border-bottom: 3px solid #CAD2DB;
}
/* r4-2 */
.r4-bl2 {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    
}
.r4-img-text img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin-right: 15px;

}
.r4-img-text {
    height: 50PX;
    display: flex;
    align-items: center;
}
.r4-bl2-text h6{
    color:rgb(0, 0, 194);
    font-size: 14px;
}
.r4-bl2-text p {
    font-size: 13px;
    color: rgb(133, 138, 146);
}
.r4-bl2-text a:hover {
    text-decoration: underline;
}
.r4-bl2-right {
    position: relative;
    display: flex;
    align-items: center;
}
.over-r4 {
    position: absolute;
    right: -15px;
    top: 80%;
    width: 190px;
    font-size: 14px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #CAD2DB;
    transform: scale(0);
   
    
}
.over-r4 ul {
    padding: 5px 0;
}
.over-r4 li {
    padding: 7px 0 7px 15px;
}
.over-r4 li:hover {
    background-color: #E4EAF0;
}
.r4-down-arrow {
    width: 20px;
    height: 20px;
   
}
.r4-bl2-right:hover .over-r4{
    transform: scale(1);
}

.r4-bl3 img {
    width: 100%;
}