body {
    background-color: rgba(226, 237, 238, 0.842);
}
[border="20"] {
    color: rgb(247, 247, 247);
}
h1 {
    font-size: 25px;
}
.vkk {
    color: rgba(255, 255, 255, 0.973);
    background-color: rgb(35, 35, 231);
    font-size: 25px;
    display: block;
}
td { 
    font-size: 18px;
}
div {
    display: flex
}
#dm {
    font-size: 30px; 
    color: rgb(70, 10, 235);
    margin-left: 15px;
}
td:hover { 
    background-color: rgba(148, 148, 148, 0.39);
    font-size: 20px;
}
#dm:hover {
    font-size: 36px;
    color: rgb(201, 255, 7);
    font-weight: 700;
}
body {
    background: url(image/123gg.jpg);
}
.vkk:hover {
    color: cornsilk;
    text-align: left; 
    transform: scale(1.3); 
   
}

.box {
    box-sizing: border-box;
    transition: all 0.5s;
}

.box:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.box img {
    width: 300px;
}